/* Table */
a:hover {
  text-decoration: none;
}
.dropdown-item {
  font-size: 14px;
}
.dropdown-menu {
  border-radius: 10px;
}
/* scroller */
#sidebar-scrollbar {
  overflow-y: auto;
  scrollbar-color: var(--gray-dark) var(--white);
  scrollbar-width: thin;
}
#sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--gray-dark);
}
#sidebar-scrollbar::-webkit-scrollbar-track {
  background-color: var(--white);
}
/* Form */
#sidebar-scrollbar {
  height: 100%;
}
/*---------------------------------------------------------------------
                               Media Support
-----------------------------------------------------------------------*/
.media-support {
  display: inline-block;
  width: 100%;
}
.media-support-user-img img {
  height: 60px;
}
.media-support-header {
  display: flex;
  align-items: flex-start;
}
.media-support-info {
  flex: 1;
}
.projects-media img {
  height: 60px;
}
.iq-media-group .iq-media {
  margin-left: -20px;
  position: relative;
  z-index: 0;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.iq-media-group .iq-media:hover {
  z-index: 9;
}
.iq-media-group .iq-media img,
.iq-media-group .iq-media.border {
  border: 2px solid var(--white);
}
.iq-media-group .iq-media:first-child {
  margin-left: 0;
}
.iq-media {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.iq-media:hover {
  text-decoration: none;
}
.media-pl {
  text-align: center;
}
/*---------------------------------------------------------------------
                             Dropdown Menu
-----------------------------------------------------------------------*/
.iq-card-header .dropdown-bg {
  background: var(--white);
  padding: 8px 15px;
  color: var(--gray-dark);
  border-radius: 15px;
}
.iq-card-header .dropdown-menu {
  margin: 0;
  padding: 0;
  font-size: 13px;
  top: 20px !important;
  border-radius: 10px;
  border-color: var(--white);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.iq-card-header .dropdown-menu .dropdown-item {
  padding: 8px 15px;
  color: var(--secondary);
}
.iq-card-header .dropdown-menu .dropdown-item i {
  font-size: 14px;
  vertical-align: middle;
}
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: var(--gray-dark);
}
/*--------------*/
.iq-card-header select.form-control {
  background: var(--white);
  border: none;
  font-size: 14px;
  margin-right: 15px;
}
.iq-card-header select.form-control.width-100 {
  width: 180px;
}
/*---------------------------------------------------------------------
                             list Style 1
-----------------------------------------------------------------------*/
.list-inline.text-white li a {
  color: var(--white);
}
.list-inline.text-white li a:hover {
  opacity: 0.6;
  text-decoration: none;
}
/*---------------------------------------------------------------------
                               Waves Effect
-----------------------------------------------------------------------*/
.iq-waves-effect {
  position: relative;
  overflow: hidden;
}
/*---------------------------------------------------------------------
                             Sidebar Menu
-----------------------------------------------------------------------*/
/* Form */
#sidebar-scrollbar {
  height: 100vh;
}
.scroll-content div.p-3 {
  height: 100px;
}
.iq-sidebar-menu .iq-menu .iq-menu-title {
  display: block;
  color: var(--secondary);
  font-size: 15px;
  position: relative;
  padding: 15px;
  font-weight: 500;
  line-height: 18px;
}
.iq-sidebar-menu .iq-menu .iq-menu-title i {
  display: none;
}
.iq-sidebar-menu {
  position: relative;
}
.iq-sidebar-menu .iq-menu {
  margin: 0 15px;
  padding: 0;
  list-style-type: none;
}
.iq-sidebar-menu .iq-menu li {
  list-style-type: none;
  position: relative;
  white-space: nowrap;
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li a {
  font-size: 14px;
  white-space: nowrap;
  display: block;
  color: var(--secondary);
  position: relative;
  padding: 15px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li li a {
  font-size: 14px;
}
.iq-sidebar-menu .iq-menu li a i {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
}
.iq-sidebar-menu .iq-menu li li a i {
  font-size: 16px;
}
.iq-sidebar-menu .iq-menu li a span {
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  transition: none;
}
.iq-sidebar-menu .iq-menu li a .iq-arrow-right {
  margin-right: 0;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.iq-sidebar-menu .iq-menu li a .badge {
  position: absolute;
  right: 15px;
  -webkit-transition: all 0.9s ease-out 0s;
  -moz-transition: all 0.9s ease-out 0s;
  -ms-transition: all 0.9s ease-out 0s;
  -o-transition: all 0.9s ease-out 0s;
  transition: all 0.9s ease-out 0s;
}
.iq-sidebar-menu .iq-menu li a:hover {
  color: var(--gray-dark);
}
.iq-sidebar-menu .iq-menu li.active,
.iq-sidebar-menu .iq-menu li.active-menu {
  background: var(--white);
}
.iq-sidebar-menu .iq-menu li.active > a,
.iq-sidebar-menu .iq-menu li.active-menu > a {
  color: var(--gray-dark);
  text-decoration: none;
}
.iq-search-bar .searchbox .search-link {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 16px;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded='true'] {
  color: var(--gray-dark);
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  transition: none;
}
.iq-sidebar-menu .iq-menu li.active a[aria-expanded='true'] {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded='true'] .iq-arrow-right {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li a:hover,
.iq-sidebar-menu .iq-menu li.active .iq-submenu li > a {
  background: transparent;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu li.active > a {
  color: var(--gray-dark);
  border-radius: 0;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu li:last-child > a {
  border-radius: 0 0 5px 5px;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li > a::before {
  display: none;
}
body.sidebar-main .iq-sidebar .iq-menu li a[aria-expanded='false'].collapsed {
  border-radius: 5px;
}
body.sidebar-main .iq-sidebar .iq-menu li a[aria-expanded='true'] {
  border-radius: 5px 5px 0 0;
}

/*------------------------*/
.iq-sidebar-menu .iq-menu li ul {
  padding-left: 10px;
}
.sidebar-main .iq-sidebar-menu .iq-menu li ul {
  padding-left: 0;
}
.iq-sidebar-menu .iq-menu li ul li a {
  color: var(--secondary);
  padding: 12px 20px;
}
.iq-sidebar-menu .iq-menu li ul a:hover {
  color: var(--gray-dark);
  text-decoration: none;
  background: transparent;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu li ul.iq-submenu-data li > a {
  padding-left: 50px;
}
.iq-sidebar-menu .iq-menu li.active .iq-submenu li a[aria-expanded='true'],
.iq-sidebar-menu .iq-menu li .iq-submenu li a[aria-expanded='true'] {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu .iq-submenu .iq-submenu-data {
  box-shadow: none;
}
.iq-sidebar-menu .iq-menu li.active ul.iq-submenu-data li.active > a {
  background: var(--white);
  color: var(--gray-dark);
  border-radius: 0;
}
.iq-sidebar-menu .iq-menu li ul.iq-submenu-data li {
  margin: 0;
}
body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li ul.iq-submenu-data li > a,
body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li ul.iq-submenu-data li > a {
  padding-left: 20px;
}

/*---------------------------------------------------------------------
                             Top Menu
-----------------------------------------------------------------------*/
.iq-top-navbar {
  padding: 0 15px;
  min-height: 73px;
  line-height: 73px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  display: inline-block;
  z-index: 9999;
  background: var(--white);
  margin: 0;
  transition: all 0.45s ease 0s;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.iq-top-navbar .navbar-expand-lg {
  justify-content: space-between !important;
}
.iq-top-navbar .navbar-collapse {
  flex-grow: unset;
}
.iq-top-navbar.fixed-header {
  margin: 0;
  right: 0;
  width: calc(100% - 260px);
  border-radius: 0;
  transition: all 0.45s ease 0s;
}
.iq-top-navbar .iq-navbar-custom .navbar-breadcrumb {
  display: block;
  margin-left: 30px;
  padding: 10px 0;
}
.iq-top-navbar .breadcrumb .breadcrumb-item.active {
  color: var(--secondary);
}
.iq-top-navbar .breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}
.iq-top-navbar .breadcrumb li {
  list-style-type: none;
  font-size: 12px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '\ea5f';
  font-family: 'remixicon';
  font-size: 14px;
  vertical-align: sub;
  color: var(--secondary);
}
.iq-top-navbar .breadcrumb li a,
.iq-top-navbar .breadcrumb li a:hover {
  text-decoration: none;
}
.navbar-list {
  margin: 0;
  padding: 0;
  float: right;
}
.navbar-list li {
  float: left;
  list-style-type: none;
  position: relative;
}
.navbar-list li > .dropdown .dropdown-menu {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.navbar-list li .dropdown-toggle::after {
  display: none;
}
.navbar-list li > a.language-title {
  font-size: 16px;
}
.navbar-list li > a {
  font-size: 18px;
  padding: 0 15px;
  line-height: 73px;
  color: var(--gray-dark);
  display: block;
  min-height: 75px;
}
.navbar-list li:last-child > a {
  padding-right: 20px;
}
.navbar-list li a:hover {
  text-decoration: none;
}
.navbar-list li.iq-nav-user {
  display: flex;
  align-items: flex-start;
}
.navbar-list li.iq-nav-user span {
  flex: 1;
  font-size: 14px;
}
.nav-item span.dots {
  height: 5px;
  width: 5px;
  font-size: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 10px;
  animation: shadow-pulse-dots 1s infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.nav-item span.count-mail {
  height: 5px;
  width: 5px;
  font-size: 10px;
  text-align: center;
  line-height: 15px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  animation: shadow-pulse 1s infinite;
  border-radius: 50%;
}
@keyframes shadow-pulse-dots {
  0% {
    box-shadow: 0 0 0 0px rgba(230, 65, 65, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(230, 65, 65, 0);
  }
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 132, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 132, 255, 0);
  }
}
.navbar-list li .caption {
  line-height: 16px;
}
.top-nav-bottom {
  margin-left: 260px;
  border-top: 1px solid var(--white);
}
.navbar-list li > .dropdown {
  line-height: 73px;
  cursor: pointer;
}
.iq-search-bar {
  padding: 0 15px;
}
.iq-search-bar .searchbox {
  width: 480px;
  position: relative;
}
.iq-search-bar .search-input {
  width: 100%;
  height: 40px;
  padding: 5px 40px 5px 15px;
  border-radius: 10px;
  border: none;
  background: var(--white);
}
.iq-navbar-logo {
  padding: 0;
  width: auto;
  position: relative;
  background: var(--white);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: transparent;
}
.iq-navbar-logo a {
  display: flex;
  align-items: flex-start;
}
.iq-navbar-logo a span {
  margin-left: 10px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;
  color: var(--gray-dark);
  flex: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-navbar-logo a:hover,
.iq-navbar-logo a:focus {
  text-decoration: none;
}
.iq-navbar-logo img {
  height: 45px;
}
/*---------- Sidebar Logo --------------*/
.iq-sidebar-logo {
  padding-top: 15px;
  padding-left: 20px;
  width: 260px;
  float: left;
  position: relative;
  background: var(--white);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: transparent;
}
.iq-sidebar-logo a {
  display: flex;
  align-items: flex-start;
}
.iq-sidebar-logo a span {
  margin-left: 10px;
  font-size: 28px;
  line-height: 45px;
  color: var(--secondary);
  text-transform: lowercase;
  flex: 1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-sidebar-logo a:hover,
.iq-sidebar-logo a:focus {
  text-decoration: none;
}
.iq-sidebar-logo img {
  height: 45px;
}
.iq-top-navbar .iq-navbar-custom .iq-menu-bt-sidebar .iq-menu-bt {
  display: block;
  margin: 0 0 0 20px;
}
body.sidebar-main .iq-menu-bt-sidebar .iq-menu-bt {
  opacity: 1;
}
.iq-menu-bt {
  padding: 12px 7px;
  margin: 0 15px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 12px;
}
.wrapper-menu {
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  color: var(--secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
.navbar-list li .iq-sub-dropdown .iq-sub-card.iq-sub-card-big {
  width: auto;
}
.navbar-list li .iq-sub-dropdown .iq-sub-card {
  font-size: inherit;
  padding: 15px;
  line-height: normal;
  color: inherit;
  border-bottom: 1px solid var(--white);
  display: inline-block;
  width: 100%;
}
.iq-top-navbar .search-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: var(--white);
  transition: all 0.3s;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.iq-show .search-box {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.search-box .search-input {
  width: 300px;
  height: 50px;
  padding: 0 1em;
  border: 1px solid var(--white);
  background-color: var(--white);
  opacity: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.iq-sub-dropdown .iq-card-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}
/*---------------------------------------------------------------------
                              Content Page
-----------------------------------------------------------------------*/
.content-page {
  overflow: hidden;
  padding: 90px 15px 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
/* --------------- */
.iq-card.iq-border-box {
  border-bottom: 4px solid;
}
/* ------------------ */
.header-for-bg {
  margin-top: 75px;
  margin-bottom: -60px;
}
.header-for-bg .title-on-header {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--white);
}
.header-for-bg .data-block {
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 5px;
}
/* ------------------ */
.image-hover-data {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: -60px;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.45s ease 0s;
}
.user-images:hover .image-hover-data {
  bottom: 0;
  transition: all 0.45s ease 0s;
}
a.image-edit-btn {
  position: absolute;
  top: 15px;
  left: auto;
  right: 15px;
  background: var(--white);
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  opacity: 0;
}
.user-images:hover a.image-edit-btn {
  opacity: 1;
  transition: all 0.45s ease 0s;
}
.event-images img {
  border-radius: 5px 5px 0 0;
}
.iq-notify {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}
.files-lists.table td {
  vertical-align: middle;
}
.inner-page-title {
  position: absolute;
  top: 25%;
  left: 30px;
}
.inner-page-bg img {
  height: 150px;
}
ul.request-list > li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
ul.request-list > li:last-child {
  border: none;
}
.post-item img.profile-img,
.user-post img.profile-img {
  border-radius: 100%;
  height: 450px;
  width: 450px;
}
.iq-card-post-toolbar .dropdown-toggle i {
  font-size: 22px;
  line-height: normal;
  color: var(--secondary);
}
.iq-card-post-toolbar .dropdown-toggle::after,
.total-comment-block .dropdown-toggle::after,
.total-like-block .dropdown-toggle::after,
.like-data .dropdown-toggle::after {
  display: none;
}
.iq-card-post-toolbar .dropdown-menu a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.event-post .job-icon {
  height: 40px;
  width: 40px;
  line-height: 24px;
  text-align: center;
  font-size: 18px;
}
.job-icon-position {
  text-align: center;
  margin: -21px auto 0;
}
.play-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  background: rgba(0, 0, 0, 0.8);
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 32px;
  margin: 0 auto;
  color: var(--white);
  border-radius: 50%;
  font-size: 25px;
  opacity: 0;
  transition: all 0.45s ease 0s;
}
.music-thumbnail:hover .play-btn {
  opacity: 1;
  transition: all 0.45s ease 0s;
}
.top-bg-image > img {
  border-radius: 5px 5px 0 0;
}
div#post-modal-data .modal {
  position: absolute;
  height: auto;
}
div#post-modal-data .modal .modal-dialog {
  max-width: 100%;
  margin: 0;
}
.modal-open {
  overflow: scroll;
}
/* ------------ */
.total-comment-block .dropdown:hover > .dropdown-menu,
.total-like-block .dropdown:hover > .dropdown-menu,
.like-data .dropdown:hover > .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.45s ease 0s;
}
.total-comment-block .dropdown > .dropdown-menu,
.total-like-block .dropdown > .dropdown-menu {
  background-color: var(--iq-dark);
}
.total-comment-block .dropdown > .dropdown-menu > a,
.total-like-block .dropdown > .dropdown-menu > a {
  color: var(--white);
  padding: 2px 10px;
}
.like-data .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  width: 260px;
  top: -50px;
  border: none;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  transition: all 0.45s ease 0s;
}
.like-data:hover span,
.comment-block:hover a {
  color: var(--gray-dark);
  transition: all 0.45s ease 0s;
}
.total-like-block .dropdown-menu,
.total-comment-block .dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
}
.like-block span {
  color: var(--secondary);
  cursor: pointer;
}
.like-block span:hover {
  color: var(--gray-dark);
}

/*-------------- Media Header ---------------*/
.iq-card .iq-card-header.iq-header-media {
  padding: 20px;
}
.iq-card-body.relative-background {
  position: relative;
  overflow: hidden;
}
/*---------------------------------------------------------------------
Footer
-----------------------------------------------------------------------*/
.iq-footer {
  padding: 15px;
  margin-left: 250px;
  width: calc(100vw - 490px);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-footer ul li a {
  color: var(--secondary);
}
.iq-footer ul li a:hover {
  color: var(--gray-dark);
  text-decoration: none;
}
.iq-mt--70 {
  margin-top: -70px;
}
.banner-main-text {
  position: absolute;
  left: 15%;
  bottom: 13%;
}
/*---------------------------------------------------------------------
Profile Page
-----------------------------------------------------------------------*/
.profile-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: auto;
}
.cover-container {
  position: relative;
}
ul.header-nav {
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  bottom: 20px;
}
ul.header-nav li {
  list-style: none;
}
ul.header-nav li a {
  display: block;
  list-style: none;
  height: 40px;
  width: 40px;
  background: var(--white);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: var(--gray-dark);
  font-size: 18px;
  margin: 0 15px 0 0;
}
.profile-header .user-detail {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 110px;
}
.profile-feed-items li {
  list-style: none;
}
.profile-feed-items li:last-child a {
  margin: 0;
}
.profile-feed-items li a.nav-link {
  text-decoration: none;
  text-transform: capitalize;
  color: var(--secondary);
  text-align: center;
  padding: 20px 15px;
}
.nav-pills.profile-feed-items li a.active {
  color: var(--white);
  background: var(--gray-dark);
}
.news-icon {
  font-size: 18px;
  margin-right: 20px;
}
ul.profile-img-gallary {
  list-style: none;
  margin: 0 -1px 0 -4px !important;
}
.twit-feed p span i {
  background: var(--gray-dark);
  color: var(--white);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  font-size: 10px;
}
.twit-feed .twit-meta-tag {
  color: var(--gray-dark);
}
.twit-feed .media-support-user-img img {
  height: 50px;
}
ul.media-story li > img,
ul.media-story li > i {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 50%;
}
ul.media-story li.active img {
  border-color: var(--gray-dark);
}
.add-suggestion {
  border: 1px solid var(--gray-dark);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: var(--gray-dark);
}
.suggestions-lists .btn {
  display: block;
}
.feather-icon a,
.message-icon a {
  color: var(--secondary);
  font-weight: 300;
}
.feather-icon a:hover,
.message-icon a:hover {
  color: var(--gray-dark);
}
ul.post-comments {
  list-style: none;
}
.comment-activity > a {
  margin-right: 10px;
  text-transform: capitalize;
  color: var(--gray-dark);
  text-decoration: none;
}
form.comment-text {
  position: relative;
}
form.comment-text input {
  padding-right: 130px;
}
.comment-attagement {
  position: absolute;
  left: auto;
  right: 0;
  font-size: 20px;
}
.comment-attagement a {
  color: var(--secondary);
}
#profile-activity .iq-timeline li {
  margin-bottom: 15px;
}
.about-info a,
div#profile-profile a {
  color: var(--secondary);
}
.twit-date a {
  color: var(--secondary);
}

/*---------------------------------------------------------------------
Profile Edit
-----------------------------------------------------------------------*/
.profile-pic {
  max-width: 100%;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.profile-img-edit {
  position: relative;
  display: inline-block;
  height: 150px;
  width: 150px;
}
.file-upload {
  display: none;
}
.p-image {
  position: absolute;
  top: auto;
  right: 8px;
  bottom: 10px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--gray-dark);
  color: var(--white);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.upload-button {
  font-size: 1.5em;
}
.iq-edit-profile .nav-link {
  padding: 20px 15px;
  border-radius: 0;
  color: var(--secondary);
  text-align: center;
  font-size: 16px;
  border-left: 1px solid var(--white);
}
.iq-edit-profile.nav-pills .nav-link.active,
.iq-edit-profile.nav-pills .show > .nav-link {
  color: var(--white);
  background: var(--gray-dark);
}
ul.iq-edit-profile li:first-child a {
  border-radius: 5px 0 0 5px;
  border-left: none;
}
ul.iq-edit-profile li:last-child a {
  border-radius: 0 5px 5px 0;
}

/*---------------------------------------------------------------------
Privacy Policy Page
-----------------------------------------------------------------------*/
// .input-group .input-group-text {
//   border: 0px solid var(--white);
// }
// .data-privacy {
//   margin: 30px 0;
// }

/*---------------------------------------------------------------------
User List Page
-----------------------------------------------------------------------*/
// .list-user-action a {
//   font-size: 16px;
//   height: 25px;
//   width: 25px;
//   text-align: center;
//   line-height: 25px;
//   margin: 0 3px;
//   display: inline-block;
//   border-radius: 5px;
// }
// #user-list-table.table td {
//   vertical-align: middle;
// }
// .user-list-files a {
//   padding: 10px 15px;
//   margin: 0 0 0 10px;
//   border-radius: 5px;
//   line-height: normal;
// }
// .table-responsive #exampleInputSearch {
//   width: auto;
// }

/*---------------------------------------------------------------------
Add User Page
-----------------------------------------------------------------------*/
// .add-img-user .p-image {
//   position: static;
//   text-align: left;
//   display: block;
//   height: auto;
//   width: auto;
//   background: transparent;
//   margin-top: 20px;
// }
// .img-extension a,
// .img-extension span {
//   color: var(--secondary);
//   padding: 0 3px;
//   font-size: 13px;
// }
