_DEV_VUE_APP_PROXY=https://choydy.com

_DEV_QUARKUS_CSRF_PASS=csrf

_DEV_QUARKUS_HTTP_PORT=8181
_DEV_QUARKUS_REDIS_HOSTS=redis://default:localhost:6379
_DEV_QUARKUS_DATASOURCE_USERNAME=postgres
_DEV_QUARKUS_DATASOURCE_PASSWORD=123456
_DEV_QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://localhost:5432/choydy

_DEV_APP_S3_URL=http://localhost:9000
_DEV_APP_S3_SECURE=false
_DEV_APP_S3_ACCESS=minioadmin
_DEV_APP_S3_SECRET=minioadmin

_DEV_QUARKUS_UPLOAD_FOLDER=C:\\min.io\\Data

_DEV_QUARKUS_MAILER_FROM=choydy@mail.com
_DEV_QUARKUS_MAILER_HOST=smtp.gmail.com
_DEV_QUARKUS_MAILER_PORT=465
_DEV_QUARKUS_MAILER_SSL=true
_DEV_QUARKUS_MAILER_USERNAME=choydy
_DEV_QUARKUS_MAILER_PASSWORD=123456
_DEV_QUARKUS_MAILER_MOCK=false
