@media (min-width: 1500px) {
  body.sidebar-main .iq-sidebar {
    width: 80px;
  }
  body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span,
  body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge {
    opacity: 0;
    display: none;
    transition: all 0.45s ease 0s;
  }
  .right-sidebar-mini {
    transform: translateX(calc(10% + -1em));
  }
  body.right-sidebar-close footer {
    width: calc(100vw - 260px);
  }
  body.sidebar-main .iq-footer {
    margin-left: 80px;
    width: calc(100vw - 335px);
  }
  body.sidebar-main.right-sidebar-close .iq-footer {
    width: calc(100vw - 90px);
  }
}
@media (min-width: 1300px) and (max-width: 1499px) {
  .container {
    max-width: 1040px;
  }
  .wrapper .content-page {
    padding-left: 0px;
    padding-right: 100px;
  }
  .iq-sidebar {
    width: 80px;
  }
  body.sidebar-main .iq-sidebar {
    width: 250px;
  }
  .iq-sidebar .iq-sidebar-menu .iq-menu li a span,
  .iq-sidebar-menu .iq-menu li a .badge {
    opacity: 0;
    display: none;
    transition: all 0.45s ease 0s;
  }
  body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span,
  body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge {
    opacity: 1;
    display: block;
    transition: all 0.45s ease 0s;
  }
  .right-sidebar-mini {
    right: calc(100vw - 90%);
    transform: translateX(calc(111% + -8em));
  }
  .right-sidebar-mini.right-sidebar {
    transform: translateX(calc(10% + -1em));
  }
  .iq-footer {
    margin-left: 80px;
    width: calc(100vw - 163px);
  }
}
@media (max-width: 1699px) {
  .iq-search-bar .searchbox {
    width: 350px;
  }
}
@media (max-width: 1299px) {
  .content-page,
  body.sidebar-main .content-page {
    margin-left: 0;
    padding: 90px 0 0;
  }
  .iq-top-navbar,
  body.sidebar-main .iq-top-navbar {
    width: auto;
    left: 0;
    right: 0;
  }
  .iq-top-navbar.fixed-header {
    width: 100%;
    left: 0;
  }
  .iq-footer,
  body.sidebar-main .iq-footer {
    padding: 15px 10px;
    margin-left: 0;
    width: 100%;
  }
  .iq-sidebar {
    display: inline-block;
    z-index: 99;
    left: -260px;
  }
  body.sidebar-main .iq-sidebar {
    width: 260px;
    left: 0;
    z-index: 999;
    top: 72px;
  }
  body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span {
    display: inline-block;
    opacity: 1;
  }
  .iq-search-bar .searchbox {
    width: 100%;
  }
  .right-sidebar-mini {
    display: none;
  }
}
@media (max-width: 992px) {
  .iq-top-navbar .navbar {
    position: relative;
  }
  .iq-top-navbar .navbar-toggler {
    position: static;
    color: var(--gray-dark);
    background: var(--white);
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 24px;
  }
  .navbar-collapse {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--white);
    box-shadow: 0px 5px 12px 0px rgba(55, 73, 72, 0.15);
  }
  .navbar-nav.navbar-list {
    display: inline-block;
  }
  .iq-top-navbar .iq-navbar-custom .iq-menu-bt {
    right: 125px;
    top: 18px;
  }
  .iq-footer,
  .iq-footer .col-lg-6.text-right {
    text-align: center !important;
  }
  button.close-btn-res {
    display: block;
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    left: auto;
    right: 0;
  }
  div.sidebar-toggle {
    display: block;
  }
  .sidebar-toggle {
    background: var(--white);
    padding: 12px 10px;
    margin-right: 15px;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    line-height: 17px;
    text-align: center;
    color: var(--gray-dark);
  }
  .navbar-list li .caption {
    display: none;
  }
  .navbar-list li img {
    margin-right: 0 !important;
  }
  ul.iq-week-data {
    overflow: hidden;
    overflow-x: scroll;
  }
  ul.social-data-block li {
    padding-right: 10px !important;
  }
  .main-banner {
    display: none;
  }
}
@media (max-width: 767px) {
  .search-box .search-input {
    width: 280px;
  }
  .navbar-nav.navbar-list {
    display: inline-block;
  }
  .iq-social-media {
    width: 100%;
  }
  .iq-social-media li {
    float: none;
    display: inline-block;
  }
  .iq-search-bar {
    display: none;
  }
  .navbar-collapse {
    margin-top: 13px;
  }
  .iq-sub-dropdown.iq-sub-dropdown-large {
    width: 300px;
  }
  // .user-post .post-media {
  //   img {
  //     height: auto;
  //   }
  // }
}
@media (max-width: 520px) {
  .media-support {
    display: inline-block;
    width: 100%;
  }
  .media-support-user-img img {
    height: 40px;
    width: 40px;
  }
  .media-support-info {
    font-size: 15px;
  }
  .media-support-title {
    width: inherit;
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
    span {
      margin-right: 4px;
    }
  }
}
@media (max-width: 479px) {
  ul.header-nav li {
    height: 35px;
    width: 35px;
    line-height: 35px;
    margin: 0 5px 0 0;
    font-size: 16px;
  }
  .comment-area.p-3 > div {
    display: block !important;
  }
  .comment-area.p-3 > div > div {
    margin-bottom: 10px;
  }
  .iq-search-bar {
    padding: 0 15px;
    width: 100%;
    margin: 15px 0 0;
  }
  .iq-top-navbar .iq-sub-dropdown {
    width: 240px;
  }
  .navbar-list li > a {
    padding: 0 10px;
  }
  .iq-top-navbar .iq-sub-dropdown.iq-sub-dropdown-large {
    right: -100px;
  }
  .iq-top-navbar .iq-sub-dropdown {
    right: -50px;
  }
}
