/*---------------------------------------------------------------------
General
-----------------------------------------------------------------------*/
a {
  color: var(--gray-dark);
}
hr {
  border-color: #b0d0f1;
}
.rounded-circle {
  border-radius: 50% !important;
}
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0px;
  line-height: 1.5;
  color: var(--gray-dark);
}
h4 {
  font-size: 1.4em;
}
h5 {
  font-size: 1.2em;
}
.col,
.col-lg-4,
.col-lg-6,
.col-lg-8,
.col-sm-12 {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
/* right sidebar */
.right-sidebar-mini {
  top: 75px;
  z-index: 100;
  position: fixed;
  width: 260px;
  right: 0;
  transform: translateX(calc(111% + -2em));
  transition: all 0.5s ease;
}
.right-sidebar-mini .side-left-icon {
  display: none;
}
.right-sidebar-panel {
  background-color: var(--white);
  box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  height: 100vh;
  padding: 15px;
  overflow-y: scroll;
}
/*----------------------------------------------
Avatar Size
------------------------------------------------*/
.avatar-50 {
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 1rem;
}
/* Table */
a:hover {
  text-decoration: none;
}
/* scroller */
#sidebar-scrollbar {
  overflow-y: auto;
  scrollbar-color: var(--gray-dark) var(--white);
  scrollbar-width: thin;
}
#sidebar-scrollbar::-webkit-scrollbar {
  width: 3px;
}
#sidebar-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}
#sidebar-scrollbar::-webkit-scrollbar-track {
  background-color: var(--white);
}
/* Form */
#sidebar-scrollbar {
  height: 100%;
}
/*---------------------------------------------------------------------
                               Media Support
-----------------------------------------------------------------------*/
.media-support {
  display: flex;
}
.media-support-user-img img {
  height: 35px;
}
.media-support-info {
  font-size: 13px;
}
.media-support-title {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  font-size: 16px;
  span {
    margin-left: auto;
  }
  .title {
    line-height: 18px;
  }
}
ul.media-story li > img {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 50%;
}
ul.media-story li.active img {
  border-color: var(--gray-dark);
}
/*---------------------------------------------------------------------
                             Sidebar Menu
-----------------------------------------------------------------------*/
/* Form */
#sidebar-scrollbar {
  height: calc(100vh - 75px);
}
.iq-sidebar-menu {
  position: relative;
}
.iq-sidebar-menu .iq-menu {
  margin: 0 15px;
  padding: 0;
  list-style-type: none;
}
.iq-sidebar-menu .iq-menu .menu-root {
  font-size: 12px;
  .menu-root-text {
    min-width: 75px;
  }
  .menu-root-break {
    width: 100%;
  }
}
.iq-sidebar-menu .iq-menu li {
  list-style-type: none;
  position: relative;
  white-space: nowrap;
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li a {
  font-size: 14px;
  white-space: nowrap;
  display: block;
  color: var(--secondary);
  position: relative;
  padding: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 5px;
}
.iq-sidebar-menu .iq-menu li a span {
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  transition: all 0.3s ease-out 0s;
}
.iq-sidebar-menu .iq-menu li a:hover {
  color: var(--primary);
}
.iq-sidebar-menu .iq-menu li.active {
  background: #f7f7f7;
}
.iq-sidebar-menu .iq-menu li.active > a {
  color: var(--primary);
  text-decoration: none;
}
/*---------------------------------------------------------------------
                             Top Menu
-----------------------------------------------------------------------*/
.iq-top-navbar {
  padding: 0 15px;
  min-height: 73px;
  line-height: 73px;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
  display: inline-block;
  z-index: 9999;
  background: var(--white);
  margin: 0;
  transition: all 0.45s ease 0s;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
.iq-top-navbar .navbar-expand-lg {
  justify-content: space-between !important;
}
.iq-top-navbar .navbar-collapse {
  flex-grow: unset;
}
.navbar-list {
  margin: 0;
  padding: 0;
  float: right;
}
.navbar-list li {
  float: left;
  list-style-type: none;
  position: relative;
}
.navbar-list li > .dropdown .dropdown-menu {
  transform: translateY(100%);
}
.navbar-list li .dropdown-toggle::after {
  display: none;
}
.navbar-list li > a.language-title {
  font-size: 16px;
}
.navbar-list li > a {
  font-size: 18px;
  padding: 0 15px;
  line-height: 73px;
  color: var(--gray-dark);
  display: block;
  min-height: 75px;
}
.navbar-list li:last-child > a {
  padding-right: 20px;
}
.navbar-list li a:hover {
  text-decoration: none;
}
.nav-item span.dots {
  height: 5px;
  width: 5px;
  font-size: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 10px;
  animation: shadow-pulse-dots 1s infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
@keyframes shadow-pulse-dots {
  0% {
    box-shadow: 0 0 0 0px rgba(230, 65, 65, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(230, 65, 65, 0);
  }
}
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 132, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 132, 255, 0);
  }
}
.navbar-list li > .dropdown {
  line-height: 73px;
  cursor: pointer;
}
.iq-search-bar {
  padding: 0 15px;
  .search-input {
    margin: auto;
    height: 40px;
    width: 350px;
    border: none;
  }
  .search-input:focus-visible {
    outline: auto 0px;
  }
}
.iq-navbar-logo {
  transition: all 0.3s ease-out 0s;
  img {
    height: 45px;
  }
  .short-logo {
    display: none;
  }
}
/*---------- Sidebar Logo --------------*/
.iq-menu-bt {
  padding: 12px 7px;
  margin: 0 7px;
}
.wrapper-menu {
  font-size: 20px;
  text-align: center;
  line-height: 15px;
  color: var(--secondary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
/**
 * ----------------------------------------
 * animation
 * ----------------------------------------
 */
.iq-top-navbar .search-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(100%);
  background-color: var(--white);
  transition: all 0.3s;
  padding: 15px;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  transition: all 0.3s ease-out 0s;
}
.iq-show .search-box {
  display: inline-block;
  transition: all 0.3s ease-out 0s;
}
.search-box .search-input {
  width: 300px;
  height: 50px;
  padding: 0 1em;
  border: 1px solid var(--white);
  background-color: var(--white);
  opacity: 1;
  border-radius: 4px;
}
/*---------------------------------------------------------------------
                              Content Page
-----------------------------------------------------------------------*/
.content-page {
  // overflow: hidden;
  padding: 90px 15px 0;
  // min-height: 100vh;
  transition: all 0.3s ease-out 0s;
}
.iq-card {
  background: var(--white);
  border-radius: 10px;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
}
/* ------------------ */
.user-post .post-media {
  img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 500px;
  }
}
/* ------------ */
.like-data,
.share-block {
  .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    border: none;
    box-shadow: 0 0 20px 0 rgb(44 101 144 / 10%);
    transition: all 0.45s ease 0s;
  }
  .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transition: all 0.45s ease 0s;
  }
  .liked-i {
    border: 4px solid #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0px 0px 2px rgb(104, 100, 100));
  }
  .liked-icon {
    width: 40px;
    height: 40px;
  }
}
.share-block,
.total-like-block {
  cursor: pointer;
  font-weight: 600;
}
.like-data .dropdown-menu {
  top: -50px;
  width: 260px;
}
.share-block .dropdown-menu {
  left: -220px;
  top: -200px;
  height: 195px;
  width: 260px;
}
/*---------------------------------------------------------------------
Footer
-----------------------------------------------------------------------*/
.iq-footer {
  padding: 15px;
  margin-left: 250px;
  width: calc(100vw - 490px);
  box-shadow: 0px 0px 20px 0px rgba(44, 101, 144, 0.1);
  transition: all 0.3s ease-out 0s;
}
.iq-footer ul li a {
  color: var(--secondary);
}
.iq-footer ul li a:hover {
  color: var(--gray-dark);
  text-decoration: none;
}
