VUE_APP_BASE_URL="/"
VUE_APP_I18N_LOCALE=en
VUE_APP_I18N_FALLBACK_LOCALE=en

VUE_APP_PROXY=http://localhost:8181
VUE_APP_MAX_SIZE_FETCH=3

# CDN
BASE_URL=http://teoqn.ihostfull.com

FTP_HOST_NAME=ftp.ihostfull.com
FTP_HOST_USER=uoolo_30810008
FTP_HOST_PASS=145632
FTP_HOST_FOLDER=/htdocs
